<!DOCTYPE html>
<html lang="de-de" class="<%= page_classes %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=1024">

    <title><%= data.page.title %> | <%= @project_name %></title>

    <link href="<%= image_path 'favicon.ico' %>" rel="shortcut icon">
    <link href="<%= image_path 'apple-touch-icon.png' %>" rel="apple-touch-icon">

    <%= stylesheet_link_tag 'all', media: 'all' %>
    <%= stylesheet_link_tag 'print', media: 'print' %>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <div class="page">
      <header class="banner" role="navigation">
        <h1 id="logo"><%= link_to 'hfuse', '/', title: 'Home' %></h1>
        <h2 class="slogan">We ☠ to create.</h2>
      </header>

      <nav class="pagenav" role="banner">
        <%= render_navigation %>
      </nav>

      <article class="main" role="main">
        <div class="content">
          <%= yield %>
        </div>

        <aside class="summary" role="note">
          <h3>Lorem ipsum</h3>
          <p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </aside>
      </article>

      <footer class="contentinfo" role="contentinfo">
        <p class="logo"><span class="hfuse">hfuse</span></p>
        <p class="slogan">We ☠ to create.</p>
      </footer>
    </div><%# .page %>

    <%= javascript_include_tag 'all' %>
  </body>
</html>
